.gradle
*.class
build/
.settings/org.eclipse.buildship.core.prefs
.vscode/launch.json
/.vscode/launch.json
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.cache/
.DS_Store
*.env
